<div class="row">
    <div class="col-1">
    </div>
    <div class="col-10" id="navbar">

        <a href=".."><h3 id="name">HAMZA KEÇELİ</h3></a>
        <a class="nav-link" id="v-pills-home-tab" href="@Url.Action("Index","Home")">Anasayfa</a>
        <a class="nav-link" id="v-pills-profile-tab" href="@Url.Action("About","Home")">Hakkımda</a>
        <a class="nav-link" id="v-pills-messages-tab" href="@Url.Action("Contact","Home")">İletişim</a>


        <a class="nav-link btn-dark" href="@Url.Action("Index","Home", new { area = "Admin" })">
            Admin Girişi
        </a>


        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="https://www.linkedin.com/in/hamzakeceli/" class="fa fa-linkedin"></a>

    </div>
</div>