@model AboutPage

@{
    ViewBag.Title = "About sayfası";
}



       <div id="lipsum">
            <h2 class="text-center">@Model.TitleName</h2>
            @Html.Raw(Model.AboutDescription)
        </div>
    

