
@model ContactPage

@{
    ViewBag.Title = "İletişim sayfası";
}



    <div id="lipsum">
        <h2 class="text-center">@Model.TitleName</h2>

        @* @Html.Raw(Model.ContactPageContent)*@

        <p>@Model.EmailAdress</p>
        <p>@Model.PhoneNumber</p>
      


    </div>
