
@{
    ViewBag.Title = "Anasayfa";
}



    <!--Canan seni geçiçem sen ro-->
    <div id="lipsum">
        <h2 class="Baslik text-center">HAMZA KEÇELİ KİMDİR?</h2>
        
        <p>
            Phasellus vulputate massa nec ante vehicula gravida. In hac habitasse platea dictumst. Quisque tristique, ex at posuere placerat, eros augue tincidunt justo, eget egestas dui ex vitae tellus. Donec blandit odio tempor, finibus quam sit amet, mollis risus. Quisque augue justo, facilisis aliquet lacus nec, laoreet vulputate eros. Nam consequat convallis libero sed hendrerit. Curabitur sem ante, efficitur eget sodales ornare, gravida sed nulla. Maecenas ultrices nibh vel fermentum convallis. Aliquam erat volutpat. Maecenas iaculis tellus quis leo cursus euismod. Fusce lacus nisl, lacinia id fermentum non, luctus quis dui.
        </p>
        <p>
            Curabitur non purus sit amet eros feugiat feugiat non sed odio. Proin faucibus nibh vel erat tristique porta. Quisque consectetur semper lorem, ut pellentesque tellus. Phasellus id sem vulputate tortor pretium lacinia. Vestibulum neque urna, convallis quis viverra lacinia, ultrices a mauris. Morbi erat sem, cursus molestie felis id, pretium sodales sem. Quisque sagittis nisi eu lacinia ullamcorper. Morbi convallis aliquet nunc eget tempor. Nullam urna mauris, laoreet sed felis sit amet, feugiat bibendum ligula. Sed elementum, enim non pulvinar molestie, libero nibh condimentum libero, id luctus magna erat sit amet neque. Duis luctus velit est, in rutrum turpis pellentesque at. Quisque vel elit posuere, luctus nisl nec, elementum odio. Nunc nibh nunc, laoreet suscipit elementum ac, ultricies et risus.
        </p>
        <p>
            Quisque vestibulum orci elit, vitae rhoncus lacus vulputate sed. Morbi vel ante cursus erat efficitur interdum et id elit. Nunc pretium vel nunc ut congue. Nam rhoncus non lectus vel convallis. Integer porta metus justo, quis laoreet urna egestas et. Ut lacinia vel metus eget sagittis. Morbi laoreet vestibulum blandit. Morbi tincidunt, est mollis mattis lacinia, odio diam pulvinar elit, a vehicula odio eros a nunc. In vitae mollis augue. Nam tincidunt purus id augue laoreet feugiat. Nulla sem velit, tincidunt non libero vel, tristique rutrum mauris. Cras et elit dapibus, posuere nisi vel, aliquet ipsum. Quisque libero urna, pulvinar nec rhoncus nec, euismod id ex. Morbi lobortis quam et nisl vehicula, ut molestie dolor aliquet. Vivamus molestie, urna sit amet ullamcorper molestie, nisl nisl volutpat turpis, dictum semper ex massa ac lacus. Sed ac diam imperdiet, gravida ante a, semper quam.
        </p>
    </div>


    @*<article id="post-34" class="post-34 page type-page status-publish hentry">

            <header class="entry-header">
                <h1 class="entry-title">HAMZA KEÇELİ KİMDİR?</h1>
            </header><!-- .entry-header -->

            <div class="entry-content">

                <div class="wp-block-image">
                    <figure class="aligncenter is-resized">
                        <img src="~/İmages/cv-foto.jpg" alt="" class="wp-image-35" width="342" height="327" srcset="" ~/İmages/cv-foto.jpg 1024w,~/İmages/cv-foto.jpg 300w, ~/İmages/cv-foto.jpg 768w" sizes="(max-width: 342px) 100vw, 342px">
                    </figure>
                </div>



                <ul><li>Ordulu, 1994 doğumlu.</li><li>Sakarya Bilgisayar Mühendisliği 1994 mezunu.</li><li>Avukatlığın yanısıra yayıncılık, yöneticilik, denetçilik, öğretmenlik ve sunuculuk yaptı.</li><li>“En değerli iş insana yatırım” inancında.</li><li>Klasik eserlerden edindiği heyecanı, her yaştaki gençlerle paylaşmak hayat tarzı.</li><li>TRT de “Can Veren Pervaneler” programını hazırlayıp sunmaktadır.</li><li>Aynı isimle 5 kitap neşretti.’;<br><br>Her Türk erkeği günde usta işi bir gazel okumalıdır ve her Türk erkeğinin ezberinde 10 beyt yer almalıdır. Sayfamız bu inançla hazırlanmıştır.</li></ul>




                @*<div id="sb_instagram" class="sbi sbi_col_4  sbi_width_resp sbi_disable_mobile sbi_small" style="padding-bottom: 10px;width: 100%;" data-feedid="sbi_5496593373#4" data-res="auto" data-cols="4" data-num="4" data-shortcode-atts="{&quot;num&quot;:&quot;4&quot;,&quot;cols&quot;:&quot;4&quot;,&quot;showfollow&quot;:&quot;true&quot;}" data-sbi-index="1">
                        <div class="sb_instagram_header  sbi_medium" style="padding: 5px; margin-bottom: 10px;padding-bottom: 0;">
                            <a href="https://www.instagram.com/hayatiinanc" target="_blank" rel="noopener" title="hayatiinanc" class="sbi_header_link">
                                <div class="sbi_header_text">
                                    <h3 style="color: rgb(0,0,0);">hayatiinanc</h3>
                                    <p class="sbi_bio" style="color: rgb(0,0,0);">
                                        İnancım o ki, söz hayâtîdir...<br>
                                        .<br>
                                        İrtibat;<br>
                                        Abdullah Öztürk / 0533 474 81 14
                                    </p>
                                </div>
                                <div class="sbi_header_img" data-avatar-url="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/25026367_776855102498515_3032451952714711040_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=fb7289570fc949b01fc4bd2f50e69738&amp;oe=5E696BBF">
                                    <div class="sbi_header_img_hover">
                                        <svg class="sbi_new_logo fa-instagram fa-w-14" aria-hidden="true" data-fa-processed="" data-prefix="fab" data-icon="instagram" role="img" viewBox="0 0 448 512">
                                            <path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
                                        </svg>
                                    </div>
                                    <img src="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/25026367_776855102498515_3032451952714711040_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=fb7289570fc949b01fc4bd2f50e69738&amp;oe=5E696BBF" alt="" width="50" height="50">
                                </div>
                            </a>
                        </div>
                        <div id="sbi_images" style="padding: 5px;">
                            <div class="sbi_item sbi_type_image" id="sbi_2197167511367928716_5496593373" data-date="1576142799">
                                <div class="sbi_photo_wrap">
                                    <a class="sbi_photo sbi_imgLiquid_bgSize sbi_imgLiquid_ready" href="https://www.instagram.com/p/B596DXjHUuM/" target="_blank" rel="noopener" data-full-res="https://scontent.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/78762844_181838006294212_2751739124320713839_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=4c965eb233104b4b8b98406398eadeaa&amp;oe=5E88EB6D" data-img-src-set="{&quot;150&quot;:&quot;https:\/\/scontent.cdninstagram.com\/v\/t51.2885-15\/e35\/s150x150\/78762844_181838006294212_2751739124320713839_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=bb182133724f78544be9270e8a19e711&amp;oe=5E7CC0CA&quot;,&quot;320&quot;:&quot;https:\/\/scontent.cdninstagram.com\/v\/t51.2885-15\/e35\/s320x320\/78762844_181838006294212_2751739124320713839_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=bef200be80ec25ac24ed4a6fa61192a1&amp;oe=5E82853A&quot;,&quot;640&quot;:&quot;https:\/\/scontent.cdninstagram.com\/v\/t51.2885-15\/sh0.08\/e35\/s640x640\/78762844_181838006294212_2751739124320713839_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=4c965eb233104b4b8b98406398eadeaa&amp;oe=5E88EB6D&quot;}" style="height: 98px; background-image: url(&quot;https://scontent.cdninstagram.com/v/t51.2885-15/e35/s150x150/78762844_181838006294212_2751739124320713839_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=bb182133724f78544be9270e8a19e711&amp;oe=5E7CC0CA&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                        <span class="sbi-screenreader">Instagram post 2197167511367928716_5496593373</span>
                                        <img src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s150x150/78762844_181838006294212_2751739124320713839_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=bb182133724f78544be9270e8a19e711&amp;oe=5E7CC0CA" alt="#trabzon #canverenpervaneler #hayatiinanç" width="200" height="200" style="display: none;">
                                    </a>
                                </div>
                            </div><div class="sbi_item sbi_type_image" id="sbi_2196400050876580057_5496593373" data-date="1576051311">
                                <div class="sbi_photo_wrap">
                                    <a class="sbi_photo sbi_imgLiquid_bgSize sbi_imgLiquid_ready" href="https://www.instagram.com/p/B57LjWRJgDZ/" target="_blank" rel="noopener" data-full-res="https://scontent.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/75498646_2457597137796675_5598388217255644005_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=2e2c998bd9107b85c69a3110e2bcfc7e&amp;oe=5E6AF002" data-img-src-set="{&quot;150&quot;:&quot;https:\/\/scontent.cdninstagram.com\/v\/t51.2885-15\/e35\/s150x150\/75498646_2457597137796675_5598388217255644005_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=d24c6dd247e9c2c3d93f23c3c86f5b7e&amp;oe=5E827787&quot;,&quot;320&quot;:&quot;https:\/\/scontent.cdninstagram.com\/v\/t51.2885-15\/e35\/s320x320\/75498646_2457597137796675_5598388217255644005_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=ba4f57f51fac735e4844ac348c19e120&amp;oe=5E7ECFFF&quot;,&quot;640&quot;:&quot;https:\/\/scontent.cdninstagram.com\/v\/t51.2885-15\/sh0.08\/e35\/s640x640\/75498646_2457597137796675_5598388217255644005_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=2e2c998bd9107b85c69a3110e2bcfc7e&amp;oe=5E6AF002&quot;}" style="height: 98px; background-image: url(&quot;https://scontent.cdninstagram.com/v/t51.2885-15/e35/s150x150/75498646_2457597137796675_5598388217255644005_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=d24c6dd247e9c2c3d93f23c3c86f5b7e&amp;oe=5E827787&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; opacity: 1;">
                                        <span class="sbi-screenreader">Instagram post 2196400050876580057_5496593373</span>
                                        <img src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s150x150/75498646_2457597137796675_5598388217255644005_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=d24c6dd247e9c2c3d93f23c3c86f5b7e&amp;oe=5E827787" alt="#osmaniye" width="200" height="200" style="display: none;">
                                    </a>
                                </div>
                            </div><div class="sbi_item sbi_type_image" id="sbi_2194971410242486821_5496593373" data-date="1575881004">
                                <div class="sbi_photo_wrap">
                                    <a class="sbi_photo sbi_imgLiquid_bgSize sbi_imgLiquid_ready" href="https://www.instagram.com/p/B52Gt4_pEIl/" target="_blank" rel="noopener" data-full-res="https://scontent.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/76824478_500349754162348_5988049754046853918_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=be2a1e2f86ac87b82287fe14fdee1410&amp;oe=5EB2D130" data-img-src-set="{&quot;150&quot;:&quot;https:\/\/scontent.cdninstagram.com\/v\/t51.2885-15\/e35\/c180.0.720.720a\/s150x150\/76824478_500349754162348_5988049754046853918_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=9b6921797a879db505cb77b99148082a&amp;oe=5E702A89&quot;,&quot;320&quot;:&quot;https:\/\/scontent.cdninstagram.com\/v\/t51.2885-15\/e35\/s320x320\/76824478_500349754162348_5988049754046853918_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=966673fc0da2bc8f87c67d437e99132d&amp;oe=5EB1C667&quot;,&quot;640&quot;:&quot;https:\/\/scontent.cdninstagram.com\/v\/t51.2885-15\/sh0.08\/e35\/s640x640\/76824478_500349754162348_5988049754046853918_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=be2a1e2f86ac87b82287fe14fdee1410&amp;oe=5EB2D130&quot;}" style="height: 98px; background-image: url(&quot;https://scontent.cdninstagram.com/v/t51.2885-15/e35/c180.0.720.720a/s150x150/76824478_500349754162348_5988049754046853918_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=9b6921797a879db505cb77b99148082a&amp;oe=5E702A89&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                        <span class="sbi-screenreader">Instagram post 2194971410242486821_5496593373</span>
                                        <img src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/c180.0.720.720a/s150x150/76824478_500349754162348_5988049754046853918_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=9b6921797a879db505cb77b99148082a&amp;oe=5E702A89" alt="#istanbul #canverenpervaneler #hayatiinanç" width="200" height="200" style="display: none;">
                                    </a>
                                </div>
                            </div><div class="sbi_item sbi_type_video" id="sbi_2192269086646702831_5496593373" data-date="1575558880">
                                <div class="sbi_photo_wrap">
                                    <a class="sbi_photo sbi_imgLiquid_bgSize sbi_imgLiquid_ready" href="https://www.instagram.com/p/B5sgR6BpZLv/" target="_blank" rel="noopener" data-full-res="https://scontent.cdninstagram.com/v/t51.2885-15/e35/75256785_107853680591156_2865582139221585705_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=457163763206a9184e85929ef9fa9591&amp;oe=5DF44586" data-img-src-set="{&quot;150&quot;:&quot;https:\/\/scontent.cdninstagram.com\/v\/t51.2885-15\/e35\/c0.60.480.480a\/s150x150\/75256785_107853680591156_2865582139221585705_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=f81b3556c535ff322c1010b7f547f47c&amp;oe=5DF43FB2&quot;,&quot;320&quot;:&quot;https:\/\/scontent.cdninstagram.com\/v\/t51.2885-15\/e35\/p320x320\/75256785_107853680591156_2865582139221585705_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=d92e3e00ae50d6709ca35ced281d9c75&amp;oe=5DF496A7&quot;,&quot;640&quot;:&quot;https:\/\/scontent.cdninstagram.com\/v\/t51.2885-15\/e35\/75256785_107853680591156_2865582139221585705_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=457163763206a9184e85929ef9fa9591&amp;oe=5DF44586&quot;}" style="height: 98px; background-image: url(&quot;https://scontent.cdninstagram.com/v/t51.2885-15/e35/c0.60.480.480a/s150x150/75256785_107853680591156_2865582139221585705_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=f81b3556c535ff322c1010b7f547f47c&amp;oe=5DF43FB2&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; opacity: 1;">
                                        <span class="sbi-screenreader">Instagram post 2192269086646702831_5496593373</span>
                                        <svg style="color: rgba(255,255,255,1)" class="svg-inline--fa fa-play fa-w-14 sbi_playbtn" aria-hidden="true" data-fa-processed="" data-prefix="fa" data-icon="play" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path></svg>            <img src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/c0.60.480.480a/s150x150/75256785_107853680591156_2865582139221585705_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;oh=f81b3556c535ff322c1010b7f547f47c&amp;oe=5DF43FB2" alt="@bekirdeveli @profil_kitap" width="200" height="200" style="display: none;">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div id="sbi_load">

                            <a class="sbi_load_btn" href="javascript:void(0);">
                                <span class="sbi_btn_text">Daha Fazla...</span>
                                <span class="sbi_loader sbi_hidden" style="background-color: rgb(255, 255, 255);"></span>
                            </a>

                            <span class="sbi_follow_btn">
                                <a href="https://www.instagram.com/hayatiinanc" target="_blank" rel="noopener">
                                    <svg class="svg-inline--fa fa-instagram fa-w-14" aria-hidden="true" data-fa-processed="" data-prefix="fab" data-icon="instagram" role="img" viewBox="0 0 448 512">
                                        <path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
                                    </svg>Takip Et
                                </a>
                            </span>

                        </div>


                    </div>
            </div><!-- .entry-content -->
        </article>*@







