@model  AboutViewModel
@{

    ViewBag.AdminTitle = "Hakkımızda İçeriği";
}



<a href="@Url.Action("Edit")" class="btn btn-block btn-outline-primary"> Düzenle</a>



<h4 class="text-center" style="color:blue">
    @Model.Title
</h4>

<p>
    @Html.Raw(@Model.Description)
</p>




