
    <div class="row">
        <div class="col">
            <a href="@Url.Action("Index","Home", new { area="Admin"})">
                Admin Anasayfa
            </a>
        </div>
        <div class="col">
            <a href="@Url.Action("Index","Home", new { area = "" })">
                Anasayfa
            </a>

        </div>
        <div class="col">
            <a href="@Url.Action("Index","About", new { area = "Admin" })">
                About
            </a>

        </div>
        <div class="col">
            <a href="@Url.Action("Index","Contact", new { area = "Admin" })">
                Contact
            </a>

        </div>

    </div>
